:root {
    --marrom-primario: #59372b;
    --marrom-secundario: #9f624f;
    --marrom-terciario: #ae9e8f;
    --marrom-quaternario: #cca98d;
    --bege: #f7e7ce;
    --branco: #f7e7ee;
    --preto: #000000;
    --cinza-claro: #1e1e1e;
    --cinza-mais-claro: #fcfcfc;
}
