.explorar {
    background-color: var(--cinza-mais-claro);
}

.container-pesquisa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.explorar {
    padding: 0 15rem;
    padding-top: 6rem;
}

.explorar-titulo {
    color: var(--marrom-primario);
    font-size: 2.5rem;
    font-weight: 700;
}

.explorar-pesquisa {
    width: 20rem;
    padding: 0.375rem 1rem 0.375rem calc(1rem + 16px);
    border-radius: 4px;
    background-image: url("../imagens/icones/MagnifyingGlass.svg");
    background-repeat: no-repeat;
    background-position: calc(0% + 8px);
}

.explorar-pesquisa:focus {
    outline: none;
}

.explorar-pesquisa::placeholder {
    color: var(--marrom-primario);
}

.cointainer-chips {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.chips-item {
    color: var(--marrom-primario);
    background-color: var(--marrom-quaternario);
    background-position: 16px;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    font-size: 1.3rem;
    padding: 1rem 1rem 1rem calc(1rem + 32px);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    box-shadow: 12px 17px 15px -3px rgba(0, 0, 0, 0.1);
}

.chip-tecnologia {
    background-image: url("../imagens/icones/DesktopTower.svg");
}

.chip-romance {
    background-image: url("../imagens/icones/HeartStraight.svg");
}

.chip-suspense {
    background-image: url("../imagens/icones/Detective.svg");
}

.chip-bibliografia {
    background-image: url("../imagens/icones/Books.svg");
}

.chip-educacao {
    background-image: url("../imagens/icones/GraduationCap.svg");
}

.chips-item:hover {
    cursor: pointer;
    scale: 1.01;
}
.chips-item:active {
    scale: 0.99;
}

.resultado-busca {
    color: var(--marrom-primario);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.container-livro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-livro-item {
    display: flex;
    background-color: #fefefe;
    box-shadow: 12px 17px 15px -3px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    border-radius: 4px;
    width: 47%;
}

.imagem-livro {
    border-radius: 4px 0 0 4px;
    width: 50%;
}

.livros-dados-externos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.75;
    padding: 1.25rem;
    width: 50%;
}

.livro-categoria {
    display: inline;
    background-color: var(--marrom-quaternario);
    color: var(--marrom-primario);
    font-size: 0.75rem;
    border-radius: 1000px;
    padding: 8px 4px;
    font-weight: bold;
}
.livro-titulo {
    color: var(--marrom-primario);
    font-size: 1.5rem;
    font-weight: 700;
}

.livro-autor {
    background-image: url("../imagens/icones/feather 1.svg");
    background-repeat: no-repeat;
    padding-left: 32px;
}

.bold {
    font-weight: bold;
}

.botao-saiba-mais {
    text-decoration: none;
    color: var(--marrom-primario);
    font-weight: bold;
    background-image: url("../imagens/icones/Plus.svg");
    background-repeat: no-repeat;
    background-position: 45% 50%;
}
