.explorar {
    background-color: var(--cinza-mais-claro);
}

.container-pesquisa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.explorar {
    padding: 0 15rem;
    padding-top: 6rem;
}

.explorar-titulo {
    color: var(--marrom-primario);
    font-size: 2.5rem;
    font-weight: 700;
}

.explorar-pesquisa {
    width: 20rem;
    padding: 0.375rem 1rem 0.375rem calc(1rem + 16px);
    border-radius: 4px;
    background-image: url("../imagens/icones/MagnifyingGlass.svg");
    background-repeat: no-repeat;
    background-position: calc(0% + 8px);
}

.explorar-pesquisa:focus {
    outline: none;
}

.explorar-pesquisa::placeholder {
    color: var(--marrom-primario);
}

.cointainer-chips {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.chips-item {
    color: var(--marrom-primario);
    background-color: var(--marrom-quaternario);
    background-position: 16px;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    font-size: 1.5rem;
    padding: 1.3rem 2rem 1.3rem calc(2rem + 32px);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    box-shadow: 12px 17px 15px -3px rgba(0, 0, 0, 0.1);
}

.chip-tecnologia {
    background-image: url("../imagens/icones/DesktopTower.svg");
}

.chip-romance {
    background-image: url("../imagens/icones/HeartStraight.svg");
}

.chip-suspense {
    background-image: url("../imagens/icones/Detective.svg");
}

.chip-bibliografia {
    background-image: url("../imagens/icones/Books.svg");
}

.chip-educacao {
    background-image: url("../imagens/icones/GraduationCap.svg");
}

.chips-item:hover {
    cursor: pointer;
    scale: 1.01;
}
.chips-item:active {
    scale: 0.99;
}

.resultado-busca {
    color: var(--marrom-primario);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.container-livro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-livro-item {
    display: flex;
    background-color: #fefefe;
    box-shadow: 12px 17px 15px -3px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    border-radius: 4px;
    width: 47%;
}

.imagem-livro {
    border-radius: 4px 0 0 4px;
    width: 50%;
}

.livros-dados-externos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.75;
    padding: 1.25rem;
    width: 50%;
}

.livro-categoria {
    display: inline;
    background-color: var(--marrom-quaternario);
    color: var(--marrom-primario);
    font-size: 0.75rem;
    border-radius: 1000px;
    padding: 8px 4px;
    font-weight: bold;
}
.livro-titulo {
    color: var(--marrom-primario);
    font-size: 1.5rem;
    font-weight: 700;
}

.livro-autor {
    background-image: url("../imagens/icones/feather 1.svg");
    background-repeat: no-repeat;
    padding-left: 32px;
}

.bold {
    font-weight: bold;
}

.botao-saiba-mais {
    text-decoration: none;
    color: var(--marrom-primario);
    font-weight: bold;
    background-image: url("../imagens/icones/Plus.svg");
    background-repeat: no-repeat;
    background-position: 45% 50%;
}

/* Reponsivo */

@media (max-width: 1500px) {
    .explorar-titulo {
        font-size: 1.9rem;
    }
    .explorar-pesquisa {
        width: 15rem;
        background-size: 15px;
    }
    .chips-item {
        background-size: 1.3rem;
        font-size: 1rem;
        padding: 0.9rem 0.9rem 0.9rem calc(0.9rem + 32px);
    }
    .resultado-busca {
        font-size: 1.9rem;
    }
    .livro-categoria {
        font-size: 0.65rem;
        padding: 3px 4px;
    }
    .livro-titulo {
        font-size: 1.2rem;
    }
    
    .livro-autor {
        background-size: 22px;
        padding-left: 27px;
        font-size: 0.9rem
    }
    .livro-texto {
        font-size: 0.8rem;
    }
    .botao-saiba-mais {
        background-size: 15px;
        background-position: 58% 50%;
        font-size: 0.9rem;
    }
    
}

@media (max-width: 1300px) {
    .explorar-titulo {
        font-size: 1.6rem;
    }
    .explorar-pesquisa {
        width: 11rem;
        background-size: 15px;
    }
    .chips-item {
        background-size: 1rem;
        font-size: 0.9rem;
        padding: 0.6rem 0.6rem 0.6rem calc(0.6rem + 32px);
    }
    .resultado-busca {
        font-size: 1.6rem;
    }
    .livro-titulo {
        font-size: 1rem;
    }
    .livro-autor {
        background-size: 19px;
        padding-left: 27px;
        font-size: 0.8rem
    }
    .livro-texto {
        font-size: 0.7rem;
    }
    .botao-saiba-mais {
        background-size: 12px;
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .chips-item {
        background-size: 0.9rem;
        font-size: 0.8rem;
        padding: 0.5rem 0.5rem 0.5rem calc(0.5rem + 32px);
    }
    .livro-categoria {
        font-size: 0.55rem;
    }
    .livro-titulo {
        font-size: 0.9rem;
    }
    .livro-autor {
        background-size: 15px;
        padding-left: 27px;
        font-size: 0.7rem
    }
    .livro-texto {
        font-size: 0.6rem;
    }
    .botao-saiba-mais {
        background-size: 12px;
        background-position: 70% 50%;
        font-size: 0.7rem;
    }
}

@media (max-width: 1100px) {
    .explorar-titulo {
        font-size: 1.4rem;
    }
    .explorar-pesquisa {
        width: 7rem;
        background-size: 15px;
        font-size: 0.8rem;
    }
    .chips-item {
        background-size: 0.95rem;
        font-size: 0.66rem;
        padding: 0.4rem 0.5rem 0.4rem calc(0.3rem + 32px);
    }
    .livro-categoria {
        font-size: 0.45rem;
    }
    .livro-titulo {
        font-size: 0.6rem;
    }
    .livro-autor {
        background-size: 13px;
        padding-left: 17px;
        font-size: 0.59rem
    }
    .livro-texto {
        font-size: 0.6rem;
    }
    .botao-saiba-mais {
        background-size: 10px;
        background-position: 73% 50%;
        font-size: 0.6rem;
    }
}

/* MOBILE */

@media (max-width: 1000px) {
    .container-pesquisa {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        margin-bottom: 3rem;
    }
    .explorar-titulo {
        font-size: 1.2rem;
    }
    .explorar-pesquisa {
        width: 90%;
        height: 27px;
        background-size: 15px;
        font-size: 0.9rem;
    }
    .chips-item {
        background-size: 0.95rem;
        font-size: 0.66rem;
        padding: 0.4rem 0.5rem 0.4rem calc(0.3rem + 32px);
        margin: 2px;
    }
    .scroll-container {
        max-height: 200px;
        overflow-y: auto; 
        padding: 5px;
    }
    .scroll-container::-webkit-scrollbar {
        height: 7px; 
    }
    
    .scroll-container::-webkit-scrollbar-thumb {
        background: var(--cinza);
        border-radius: 6px;
    }
    .scroll-container::-webkit-scrollbar-track {
    background: var(--cinza-mais-claro); 
    }

    .container-livro {
        flex-direction: column;
    }   

    .container-livro-item {
        width: 100%;
    }

    .livro-categoria {
        font-size: 0.75rem;
        padding: 8px 5px;
    }
    .livro-titulo {
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .livro-autor {
        background-size: 25px;
        font-size: 1rem;
        padding-left: 32px;
    }

    .livro-texto {
        font-size: 0.8rem;
    }
    .botao-saiba-mais {
        background-size: 15px;
        background-position: 53% 50%;
        font-size: 1rem;
    }
}

@media (max-width: 850px) {
    .explorar-titulo {
        font-size: 1.2rem;
    }
    .explorar-pesquisa {
        width: 80%;
        height: 18px;
        background-size: 13px;
        font-size: 0.6rem;
    }

    h2.resultado-busca {
        font-size: 1.2rem;
    }
    
    .livro-categoria {
        font-size: 0.45rem;
    }
    .livro-titulo {
        font-size: 0.6rem;
    }
    .livro-autor {
        background-size: 13px;
        padding-left: 17px;
        font-size: 0.59rem
    }
    .livro-texto {
        font-size: 0.6rem;
    }
    .botao-saiba-mais {
        background-size: 10px;
        background-position: 73% 50%;
        font-size: 0.6rem;
    }
}